.comentario-list {
  height: auto;
  overflow-y: auto;
}

.comentario-titulo {
  margin-top: 1rem;
  margin-bottom: 0;

}

.input-group {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-control {
  width: 100%;
  margin: 1rem;
}