<header class="sticky-top">
  <nav class="navbar">
    <a class="navbar-brand">
      <div *ngIf="user$ | async as user">
        <div *ngIf="user.name; else deActiveHamburguer">
          <i
            class="fa fa-bars"
            (click)="menu.abreMenu()"
            (keyup.space)="menu.abreMenu()"
          ></i>
        </div>
      </div>
      <ng-template #deActiveHamburguer>
        <i class="deActiveHamburguer"></i>
      </ng-template>
      Animal book</a
    >
    <app-menu #menu>
      <ul class="list-unstyled">
        <li>
          <a [routerLink]="['animais', 'novo']">Novo animal</a>
        </li>
      </ul>
    </app-menu>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login" >
        <i class="fa fa-user-circle"></i>
        <a class="userName">{{ user.name }}</a>
        <a (click)="logout()" class="logout">Logout</a>
      </div>
    </div>
  </nav>
  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>
</header>
